MONGO_URI=mongodb+srv://varshanrio05_db_user:FafqzJm2SFA3PRdK@rio.gcxtiy2.mongodb.net/collegeDB
JWT_SECRET=college_event_secret_123
JWT_EXPIRES_IN=7d
PORT=5000
CLIENT_URL=http://localhost:5173
NODE_ENV=development
